
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.courseCard {
  min-height: 100%
}

.navbar {
  background-color: #333;
  padding: 1rem;
  border-radius: 0;
}
/*======= App Navbar ============*/

/* Navbar Brand */
.navbar-brand {
  font-size: 2rem;
  color: #fff;
}

/* Navbar Toggle */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fff;
}

/* Navbar Links */
.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f8f8f8;
}

/* Active Link */
.navbar-nav .active {
  font-weight: 600;
  color: #f8f8f8;
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: #333;
  border: none;
}

.dropdown-item {
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: #f8f8f8;
  background-color: #222;
}

/* Add some animation */
.navbar-nav .nav-link {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ====== Login ==========   */


.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  height: 40px;
  font-size: 16px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

#submitBtn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 20px;
}

#submitBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#submitBtn:hover {
  background-color: #0069d9;
}

/*======= Product ========== */

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow .3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: 10px;
}

/* ===== Home =======  */

/* Banner styles */
.banner {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px #000;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px #000;
    max-width: 700px;
    text-align: center;
    margin-bottom: 2rem;
}

.banner a {
    display: inline-block;
    background-color: #f8b500;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.banner a:hover {
    background-color: #d69600;
}

/* Highlights section styles */
.highlights {
    background-color: #f8f8f8;
    padding: 3rem;
}

.highlights h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.highlights p {
    font-size: 1.5rem;
    max-width: 700px;
    text-align: center;
    margin-bottom: 2rem;
}

.highlights .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.highlights .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.highlights .card-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.highlights .btn {
    background-color: #f8b500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.highlights .btn:hover {
    background-color: #d69600;
}


/*========*/

.horizontal-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.image-container {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .horizontal-card {
    flex-direction: column;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
